
.ul{
    background-color: darkblue;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
    margin-right: 30px;
    padding: 0px;
}








.currentPage {
  margin-left: 0px;
  padding-left: 0px;
  background-color: rgb(159, 143, 245);  
}

.link2 :hover {
    background-color:lightblue;
    font-style: italic;
}

.link3 :focus{
    border-color: aqua;
}


